<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <form novalidate name="equipeForm" ng-submit="adicionarEquipe(equipeForm.$valid)">
          
            <div class="form-group" 
                 ng-class="{
                    'has-error':equipeForm.nome.$invalid && !equipeForm.nome.$pristine, 
                    'has-success':equipeForm.nome.$valid && !equipeForm.nome.$pristine,
                    'has-feedback':!equipeForm.nome.$pristine}">
                
                <label class="control-label" for="nome">Nome</label>
                <input uib-tooltip="Aqui o Nome" name="nome" type="text" ng-model="formData.nome" class="form-control" ng-minlength="3" required describedby="nomeSucesso"/>
                <span ng-show="equipeForm.nome.$valid && !equipeForm.nome.$pristine && equipeForm.sigla.$viewValue.length > 0" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>  
                <span ng-show="equipeForm.nome.$invalid && !equipeForm.nome.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>  
            </div>
          
            <div class="form-group" 
                 ng-class="{
                    'has-error':equipeForm.sigla.$invalid && !equipeForm.sigla.$pristine, 
                    'has-success':equipeForm.sigla.$valid && !equipeForm.sigla.$pristine && equipeForm.sigla.$viewValue,
                    'has-feedback':!equipeForm.sigla.$pristine}">
                <label for="sigla">Sigla</label>
                <input sigla name="sigla" type="text" ng-model="formData.sigla" class="form-control" ng-minlength="3" ng-maxlength="3" required/>
                <span ng-show="equipeForm.sigla.$pending" class="glyphicon glyphicon-refresh form-control-feedback" aria-hidden="true"></span>  
                <span ng-show="equipeForm.sigla.$valid && !equipeForm.sigla.$pristine && equipeForm.sigla.$viewValue.length > 0" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>  
                <span ng-show="equipeForm.sigla.$invalid && !equipeForm.sigla.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-show="equipeForm.sigla.$pending" class="text-primary">Verificando sigla...</span>
                <span ng-show="equipeForm.sigla.$invalid && !equipeForm.sigla.$pristine" class="text-danger glyphicon glyphicon-exclamation-sign"> Sigla já em uso</span>
            </div>
          
            <div class="form-group" ng-class="{'has-error':equipeform.email.$invalid && !equipeForm.email.$pristine}">
                <label for="email">E-mail</label>
                <input name="email" type="email" ng-model="formData.email" class="form-control"/>
            </div>
          
            <div class="form-group"
                 ng-class="{
                    'has-error':equipeForm.data.$invalid && !equipeForm.data.$pristine, 
                    'has-success':equipeForm.data.$valid && !equipeForm.data.$pristine && equipeForm.data.$viewValue,
                    'has-feedback':!equipeForm.data.$pristine}">
                <label for="data">Data</label>
                <input name="data" type="date" class="form-control" ng-model="formData.data" max="2015-10-26"/>
            </div>
          
            <div class="form-group"
                ng-class="{
                    'has-error':equipeForm.divisao.$invalid && !equipeForm.divisao.$pristine, 
                    'has-success':equipeForm.divisao.$valid && !equipeForm.divisao.$pristine && equipeForm.divisao.$viewValue,
                    'has-feedback':!equipeForm.divisao.$pristine}">
                <label for="data">Divisão</label>
                <div class="btn-group" uib-dropdown uib-keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
                        Selecione <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem" ng-repeat="item in getDivisoes()">
                            <a href="#">{{item}}</a>
                        </li>
                    </ul>
                </div>
            </div>
                
            <div class="form-group"
                ng-class="{
                    'has-error':equipeForm.uf.$invalid && !equipeForm.uf.$pristine, 
                    'has-success':equipeForm.uf.$valid && !equipeForm.uf.$pristine && equipeForm.uf.$viewValue,
                    'has-feedback':!equipeForm.uf.$pristine}">
                <label for="uf">Estado (UF)</label>
                <input type="text" ng-model="formData.uf" uib-typeahead="uf for uf in getUfs() | filter:$viewValue | limitTo:8" class="form-control">
            </div>
          
            <input type="submit" value="Incluir" class="btn btn-primary" ng-disabled="equipeForm.$invalid"/>
  
        </form>
  </div>
  <div class="col-md-4"></div>
</div>


                
                