<mc-messages></mc-messages>
<div ng-if="authenticated">
    <p ng-if="currentUser.avatar">
        <img ng-src="{{currentUser.avatar}}" width="60px" height="60px"/>
    </p>
    <h5>Olá, {{currentUser.nome}}</h5>
    <button class="btn btn-danger" ng-click='logout()'>Sair</button>
</div>
<div class="row">
    <div class="col-md-4">  
        
        <equipe-lista></equipe-lista>   
        <a href="#/equipe/nova" class="btn btn-primary">Adicionar</a>
    </div>
    
    <div class="col-md-8 jumbotron">  
        <div ng-include="'js/view/equipe/equipe.detalhe.html'" ng-if="showDetail"> </div>
    </div>
    
</div>        